{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }} Saison #{{ season.number }}{% endblock %}

{% block body %}
 <div class="media mb-4">
      <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
      <div class="media-body">
          <h1 class="mt-0">Saison {{season.number}} de {{ program.title }}</h1>
          <p>{{ program.synopsis }}</p>
          <p>Liste des épisodes</p>
          <ul>
            {% for episode in season.episodes %}
            <li>{{ episode.number }} / {{ episode.title }}</li><br/>
            {% endfor %}
          </ul>
      </div>
  </div>

  <a href="{{ path('program_index') }}">
      Retour à la liste des programmes
  </a> <br/>
  <a href="{{ path('category_index') }}">
      Retour à la liste des catégories
  </a>
{% endblock %}